@font-face {
  font-family: Gilroy;
  src: url(../public/Gilroy-Regular.ttf);
}

@font-face {
  font-family: GilroyBold;
  src: url(../public/Gilroy-Bold.ttf);
}

:root {
  font-family: Gilroy, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #E89F71;
  --primary-color-dark: #a26f4f;
  --primary-color-light: #E89F7130;
  --soft-grey: #F4F5F7;
  --primary-background: #FCF8F3;
}

iframe{
  display: none;
}

:root,
body,
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* all text to be pre-line */
p, h1, h2, h3, h4, h5, h6{
  white-space: pre-line;
}

h1{
  font-weight: bolder;
  font-family: GilroyBold;
}

.btn-primary{
  padding: 2rem;
  cursor: pointer;
  color: white;
  border: none;
  background-color: var(--primary-color);
}

section{
  margin-bottom: 3rem;
}

@keyframes loading {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }    
}