.home-page{
    background-color: #FFFFFF;

    .hero{
        display: flex;
        width: 100%;
        height: max-content;
        position: relative;
        background-color: #FCF8F3;
        color: white;
        height: 710px;
        align-items: end;

        .hero-background{
            position: absolute;
            top: 0;
            left: 0;
            width: 40%;
            background-color: #F9F1E7;
            height: 100%;
        }

        .loading{
            width: 100%;
            height: 100%;
            z-index: 2;
            animation: pulsate 3s infinite;
            background: linear-gradient(90deg, #cacaca, #a3a3a3, #cacaca);
            background-size: 400% 400%;
        }
    
        @keyframes pulsate {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }    
        }

        .slider-container{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .buttons{
                position: absolute;
                top: -3rem;
                right: 2rem;
                z-index: 1;
                display: flex;
                gap: 0.5rem;

                button{
                    background-color: var(--primary-color);
                    width: 40px;
                    height: 40px;
                    border: none;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    &:active{
                        transform: scale(0.8);
                        transition: all 0.2s ease;
                    }
                }
            }
        }

        .slick-dots{
            bottom: calc(100% + 10px);

            li button:before {
                color: var(--primary-color-dark);
            }

            .slick-active button::before{
                padding: 0.5px;
                border-radius: 100%;
                outline: 1px solid var(--primary-color);
                color: var(--primary-color);
            }
        }

        .slick-slider{
            max-width: 100%;
            position: relative;
        }

        .slick-slide{
            height: 100%;
            width: 1150px;
            padding: 0 2rem;
        }

        .product{
            position: relative;
            height: 100%;

            .image-container{
                min-width: 85%;
                min-height: 300px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
    
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .product-details{
                position: absolute;
                bottom: 5%;
                right: 5%;
                background-color: #FFFFFF95;
                padding: 1rem;
                color: black;
                backdrop-filter: blur(5px);
                min-width: 250px;

                >h1, >h4{
                    font-family: GilroyBold;
                }
            }
        }


        .advertisement{
            color: black;
            background-color: #FFFFFF;
            padding: 3rem; 
            display: flex;
            flex-direction: column;
            gap: 2rem;
            position: absolute;
            top: 50%;
            left: 2%;
            transform: translate(0, -50%);

            h1{
                font-size: 56px;
            }
        }
    }

    .shop-info{
        display: flex;
        width: 100%;
        padding: 2rem;
        justify-content: space-between;

        .shop-info-item{
            display: grid;
        }
    }
}